@import '~/node_modules/bootstrap/scss/bootstrap.scss';

body {
  background-color: black;
  position: relative;
}

#app {
  font-family: "Bebas Neue", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: #2c3e50;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

input {
  font-size: 1.3rem;
}

button,
label {
  font-size: 2rem;
  border: none;
  color: $nf-text-secondary;
  background-color: $nf-background-primary;
}

select {
  font-size: 1.3rem;
  height: 2.4rem;
  border: none;
  color: $nf-text-secondary;
  background-color: $nf-background-primary;
}

ul,
li {
  list-style: none;
  padding-left: 0;
}



*::-webkit-scrollbar{
  width: 12px;
  /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track{
  background: $nf-background-primary;
  /* color of the tracking area */
}

*::-webkit-scrollbar-thumb{
  background-color: $nf-text-secondary;
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
  border: 3px solid $nf-background-primary;
  /* creates padding around scroll thumb */
}

/* Layout Cards */

.nf_card {
  height: 400px;

  .poster {
    text-align: center;
    height: 100%;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .details,
  .card_banner {
    position: relative;
    padding-bottom: 5px;
    overflow: auto;
    text-overflow: ellipsis;
    max-height: 400px;


    .flag {
      max-width: 30px;
    }
  }

  .details {
    font-size: 1.2rem;
  }

  .card_banner {
    width: 40%;
    h3{
      font-size: 2rem;
    }

    
    p{
      font-size: 1.2rem;
    }

  }

  .active {
    z-index: 5;
    overflow: visible;
    position: absolute;
    border-radius: 10px;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    padding: 1.5rem;
    width: 35%;
    background: rgba(0, 0, 0, 0.885);
    min-height: 40vh;
    max-height: unset;
    font-size: 1.5rem;
    border: 1px solid white;
  }
}

.nf_card:hover .poster {
  display: none;
}

