@import '~/node_modules/bootstrap/scss/bootstrap.scss';
body{
  background-color: black;
}
#app {
  font-family: "Bebas Neue", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: #2c3e50;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img{
  max-width: 100%;
  height: auto;
}
input{
  font-size: 1.3rem;
}

button{
  font-size: 2rem;
  border: none;
  color: $nf-text-secondary;
  background-color: $nf-background-primary;
}

ul,
li {
  list-style: none;
  padding-left: 0;
}

*::-webkit-scrollbar, .movie_details::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track, .movie_details::-webkit-scrollbar-track {
  background: $nf-background-primary;        /* color of the tracking area */
}

*::-webkit-scrollbar-thumb, .movie_details::-webkit-scrollbar-thumb {
  background-color:  $nf-text-secondary;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid $nf-background-primary;  /* creates padding around scroll thumb */
}